{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <main id="content" class="hx:w-full hx:break-words hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:pb-8 hx:pt-8 hx:md:pt-12 hx:pl-[max(env(safe-area-inset-left),1.5rem)] hx:pr-[max(env(safe-area-inset-left),1.5rem)] hx:max-w-3xl hx:mx-auto">
      <h1 class="hx:text-center hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Site.Title }}</h1>

      {{ with .Content }}
        <div class="hx:mt-6">{{ . }}</div>
      {{ end }}

      {{- $months := slice "Janeiro" "Fevereiro" "Março" "Abril" "Maio" "Junho" "Julho" "Agosto" "Setembro" "Outubro" "Novembro" "Dezembro" -}}
      {{- $posts := where .Site.RegularPages "Section" "posts" -}}
      {{- $byMonth := $posts.GroupByDate "2006-01" -}}

      <div class="hx:mt-10">
        {{- range $byMonth }}
          {{- $parts := split .Key "-" -}}
          {{- $year := index $parts 0 -}}
          {{- $monthStr := strings.TrimPrefix "0" (index $parts 1) -}}
          {{- $monthNum := int $monthStr -}}
          {{- $monthName := index $months (sub $monthNum 1) -}}
          {{- $anchor := printf "%s-%s" $year (lower $monthName) | urlize -}}

          <h2 id="{{ $anchor }}" class="hx:font-semibold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100 hx:mt-10 hx:text-3xl hx:border-b hx:pb-2 hx:contrast-more:border-neutral-400 hx:dark:border-primary-100/10 hx:contrast-more:dark:border-neutral-400">
            {{ $year }} - {{ $monthName }}
          </h2>
          <ul class="hx:mt-4 hx:list-disc hx:ltr:ml-6 hx:rtl:mr-6">
            {{- range .Pages }}
              <li class="hx:my-2">
                <a class="hx:text-primary-600 hx:underline hx:underline-offset-2 hx:decoration-from-font hx:hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{- end }}
          </ul>
        {{- end }}
      </div>
    </main>
  </div>
{{ end }}
